{% extends 'base.html.twig' %}

{% block body %}
    <html>
    <body>
    <img src="{{ asset('http://fr.cdn.v5.futura-sciences.com/buildsv6/images/largeoriginal/5/5/0/5506733732_85315_physique-balles-tennis.jpg') }}" alt="" class="header_picture">
    <div class="header_title">Review</div>
    <br>
    <div class="review_line1">
        <img src="{{ asset('https://marketplace.canva.com/MAB4Yqx-uWs/1/thumbnail/canva-young-executive-woman-profile-icon--MAB4Yqx-uWs.png') }}" alt="" class="review_picture">
        <span style="text-align: center">Charlotte Dubois</span>
        <span class="skill">Next►</span>
    </div>
    <br>
    <div class="review_line1">
        <span class="not_ever">Not Ever</span>
        <span class="not_now">Not Now</span>
    </div>
    <br>
    <div class="review_line1">
        <span>How do you rate the overall experience with Charlotte ?</span>
        <span class="number">1</span>
        <span class="number">2</span>
        <span class="number">3</span>
        <span class="number">4</span>
        <span class="number">5</span>
    </div>
    <br>
    <div class="review_line1">
        <span>Is Charlotte a <b>beginner</b> ?</span>
        <div>
            <span class="skill">Yes</span> <br><br><br>
            <span class="skill">Higher▲</span> <br><br><br>
            <span class="skill">Lower▼</span>
        </div>
    </div>
    <button>save</button>
    </body>
    </html>
{% endblock %}