{% extends 'base.html.twig' %}

{% block body %}
    <html>
    <body>
    <img src="{{ asset('http://fr.cdn.v5.futura-sciences.com/buildsv6/images/largeoriginal/5/5/0/5506733732_85315_physique-balles-tennis.jpg') }}" alt="" class="header_picture">
    <div class="header_title">Review</div>
    <br>
    <div class="review_line1">
        <img src="{{ asset('https://s-media-cache-ak0.pinimg.com/736x/ee/73/0a/ee730ab1a4ce50969ede8ded84818881.jpg') }}" alt="" class="review_picture">
        <span>sdfghjk</span>
        <span style="text-align: right">Next -></span>
    </div>
    </body>
    </html>
{% endblock %}